<div>
    <div *ngIf="connectedUser && connectedUser?.roles && connectedUser.roles.includes('DEVELOPER')">
        <div *ngIf="devInfoSub |  async as dev">
            <div *ngIf="!editProfile">
                <p>Prénom :</p>
                <p>{{dev.firstName}}</p>
                <p>Nom de famille :</p>
                <p>{{dev.lastName}}</p>
                <p>Pseudo :</p>
                <p>{{dev.pseudo}}</p>
                <p>GitHub :</p>
                <p><a href="{{dev.gitHub}}">{{dev.gitHub}}</a></p>
                <p>LinkedIn :</p>
                <p><a href="{{dev.linkedIn}}">{{dev.linkedIn}}</a></p>
                <p>CV :</p>
                <p>{{dev.cv}}</p>
                <ul>
                    <p>Technologies Back-end :</p>
                    <li *ngFor="let backTec of dev.technologyBackEnds">{{backTec}}</li>
                </ul>
                <br>
                <ul>
                    <p>Technologies Front-end :</p>
                    <li *ngFor="let frontTec of dev.technologyFrontEnds">{{frontTec}}</li>
                </ul>
                <br>
                <button (click)="modifyProfile()">Modifier le profil</button>
            </div>
            <div *ngIf="editProfile">
                <form [formGroup]="devInfoForm" (ngSubmit)="updateDevProfile()">
                    <p>Prénom :</p>
                    <input type="text" placeholder="{{dev.firstName}}">
                    <p>Nom de famille :</p>
                    <input type="text" placeholder="{{dev.lastName}}">
                    <p>Pseudo :</p>
                    <input type="text" placeholder="{{dev.pseudo}}">
                    <p>GitHub :</p>
                    <input type="text" placeholder="{{dev.gitHub}}">
                    <p>LinkedIn :</p>
                    <input type="text" placeholder="{{dev.linkedIn}}">
                    <p>CV :</p>
                    <input type="text" placeholder="{{dev.cv}}">
                    <p>Date de naissance</p>
                    <input type="date" placeholder="{{dev.birthDate}}">
                    <p>Technologies Back-end :</p>
                    <div *ngFor="let backTec of technologyBackEnd">
                        <label for="backTec">{{backTec}}</label>
                    <input id="backTec" type="checkbox" value="{{backTec.valueOf()}}" >
                    </div>
                    <br>
                    <p>Technologies Front-end :</p>
                    <div *ngFor="let frontTec of technologyFrontEnd">
                        <label for="frontTec">{{frontTec}}</label>
                        <input id="frontTec" type="checkbox" value="{{frontTec.valueOf()}}" >
                    </div>
                    <br>
                    <input type="submit" class="button" value="Valider les modifications">
                </form>
            </div>

            <div>
                <p>Adresse :</p>
                <p>{{dev.address.street}}</p>
                <p>{{dev.address.number}}</p>
                <p>{{dev.address.city}}</p>
                <p>{{dev.address.zipcode}}</p>
                <p>{{dev.address.country}}</p>
            </div>
            <div>
                <button (click)="setPassword()">Modifier mot de passe</button>
                <div *ngIf="editPassword">
                    <form [formGroup]="newPasswordForm" (ngSubmit)="updateDevPassword()">
                        <input type="text" placeholder="Nouveau mot de passe" formControlName="password">
                        <input class="button" type="submit" value="Valider nouveau mot de passe">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="connectedUser && connectedUser?.roles && connectedUser.roles.includes('RECRUITER')">
        <div *ngIf="recruiterSub | async as recruiter">
            <p>{{recruiter.firstName}}</p>
            <p>{{recruiter.lastName}}</p>
            <p>{{recruiter.email}}</p>
            <p>Société :</p>
            <p>{{recruiter.company.name}}</p>
            <p>{{recruiter.company.description}}</p>
            <div>
                <p>Adresse de la société :</p>
                <p>{{recruiter.company.address.street}}</p>
                <p>{{recruiter.company.address.number}}</p>
                <p>{{recruiter.company.address.city}}</p>
                <p>{{recruiter.company.address.zipcode}}</p>
                <p>{{recruiter.company.address.country}}</p>
            </div>
        </div>
        <div>
            <button (click)="setPassword()">Modifier mot de passe</button>
            <div *ngIf="editPassword">
                <form [formGroup]="newPasswordForm" (ngSubmit)="updateRecPassword()">
                    <input type="text" placeholder="Nouveau Mot de passe" formControlName="password">
                    <input type="submit" value="Valider nouveau mot de passe">
                </form>
            </div>
        </div>
    </div>
</div>
