div{
    margin: 1rem;
}
button{
    border: solid black 2px;
    border-radius: 16px;
    padding: 0.5rem;
    background-color: darkgoldenrod;
    color: white;
}
.button{
    border: solid black 2px;
    border-radius: 16px;
    padding: 0.5rem;
    background-color: darkgoldenrod;
    color: white;
}
