<main><a routerLink="/job-offers">
    <button>Retour</button>
</a>
<div *ngIf="jobOfferSub$ |async as jobOffer">
    <table>
        <thead>
        <tr>
            <td>Intitulé</td>
            <td>Technologies</td>
            <td>Description</td>
            <td>Lien</td>
            <td>Recruteur</td>
            <td>Société</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{jobOffer.title}}</td>
            <td>{{jobOffer.technologyBackEnds}}, {{jobOffer.technologyFrontEnds}}</td>
            <td>{{jobOffer.description}}</td>
            <td><a href="{{jobOffer.link}}">{{jobOffer.link}}</a></td>
            <td>{{jobOffer.recruiter.lastName}} {{jobOffer.recruiter.firstName}}</td>
            <td>{{jobOffer.recruiter.company.name}}</td>
        </tr>
        </tbody>
    </table>
</div>
</main>
