<main>
    <a routerLink="/job-offers">
        <button
            class="text-white mt-4 mb-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-1/6 sm:w-1/6 px-5 py-2.5 text-center dark:bg-orange-700 dark:hover:bg-orange-800 dark:focus:ring-blue-800">
            Retour
        </button>
    </a>
    <div>
        <form [formGroup]="newJobOfferForm" (ngSubmit)="createJobOffer()">
            <div>
                <h6 class="mb-2 mt-4 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Intitulé de l'offre :</h6>
                <input type="text" placeholder="Intitulé de l'offre" formControlName="title">
                <span class="error"
                      *ngIf="newJobOfferForm.get('title')?.touched && newJobOfferForm.get('title')?.errors?.['required']">Ce champ est requis</span>
            </div>
            <div>
                <h6 class="mb-2 mt-4 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Description de
                    l'offre :</h6>
                <input type="text" placeholder="Description de l'offre" formControlName="description">
                <span class="error"
                      *ngIf="newJobOfferForm.get('description')?.touched && newJobOfferForm.get('description')?.errors?.['required']">Ce champ est requis</span>
            </div>
            <div>
                <h6 class="mb-2 mt-4 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Technologies front-end (minimum 1)</h6>
                <div class="z-10 mt-4 bg-white rounded-lg shadow w-60 dark:bg-gray-700">
                    <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200">
                        <li *ngFor="let frontTec of technologiesFrontEnd">
                            <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="frontTec" type="checkbox" value="{{frontTec.valueOf()}}"
                                       (change)="updateTechnologyFrontEnds($event)">
                                <label class="mb-2 text-m tracking-tight text-gray-900 dark:text-white"
                                       for="frontTec">{{frontTec.toString()}}</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <h6 class="mb-2 mt-4 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Technologies back-end
                    (minimum 1)</h6>
                <div class="z-10 mt-4 bg-white rounded-lg shadow w-60 dark:bg-gray-700">
                    <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200">
                        <li *ngFor="let backTec of technologiesBackEnd">
                            <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input
                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                                    id="backTec" type="checkbox" value="{{backTec.valueOf()}}"
                                    (change)="updateTechnologyBackEnds($event)">
                                <label
                                    class="w-full ml-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300"
                                    for="backTec">{{backTec}}</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <h6 class="mb-2 mt-4 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Lien de l'offre</h6>
                <input type="text" placeholder="Lien de l'offre" formControlName="link">
                <span class="error"
                      *ngIf="newJobOfferForm.get('link')?.touched && newJobOfferForm.get('link')?.errors?.['required']">Ce champ est requis</span>
            </div>
            <div>
                <input class="text-white mt-4 mb-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-1/6 sm:w-1/6 px-5 py-2.5 text-center dark:bg-orange-700 dark:hover:bg-orange-800 dark:focus:ring-blue-800"
                       type="submit" value="Créer offre d'emploi">
            </div>
        </form>
    </div>
</main>
