<div class="w-full">
    <form [formGroup]="loginForm" class="flex m-1 flex-col justify-center items-center" (ngSubmit)="login()">

        <div class="relative z-0 w-1/6 mb-6 group">
            <input type="email" name="floating_username" id="floating_username"
                   class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-accent focus:outline-none focus:ring-0 focus:border-accent peer"
                   placeholder=" " required formControlName="username"/>
            <label for="floating_username"
                   class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-accent peer-focus:dark:text-accent peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Username</label>
        </div>

        <div class="relative z-0 w-1/6 mb-6 group">
            <input type="password" name="floating_password" id="floating_password"
                   class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-accent focus:outline-none focus:ring-0 focus:border-accent peer"
                   placeholder=" " required formControlName="password"/>
            <label for="floating_password"
                   class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-accent peer-focus:dark:text-accent peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
        </div>

        <div class="relative z-0 w-1/6 mb-6 group flex justify-between">
            <button type="submit"
                    class="text-primary bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-1/2 sm:w-1/2 px-5 py-2.5 text-center dark:bg-accent dark:hover:bg-accent dark:focus:ring-blue-800">
                Login
            </button>
            <button type="submit"
                    class="text-primary bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-1/2 px-5 py-2.5 text-center dark:bg-accent dark:hover:bg-accent dark:focus:ring-blue-800"
                    routerLink="/register">
                Register
            </button>
        </div>
    </form>
</div>

