<!--<div id="main-content" class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6">-->

<!--            <div class="form-group">-->
<!--                <label for="connect">WebSocket connection:</label>-->
<!--                <button id="connect" class="mat-flat-button bg-gray-800 p-6" (click)="connect()">Connect</button>-->
<!--                <button id="disconnect" class="mat-button bg-amber-300 p-6" (click)="disconnect()">Disconnect-->
<!--                </button>-->
<!--            </div>-->

<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <input matInput class="border-2 border-amber-300" type="text" [(ngModel)]="messageToSend">-->
<!--            <button mat-button color="primary" (click)="sendMessage(messageToSend)">Send</button>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->

<aside class="max-w-sm h-full main_color__bg">
    <h1 class="text-white p-5">Discussions</h1>
    <div *ngIf="relations$ | async as relations" class="container_block">


        <mat-card class="cursor-pointer hover:bg-neutral-600 card" *ngFor="let relation of relations">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="text-white">{{relation.name}}</mat-card-title>
                <mat-card-subtitle class="msg_content">
                    {{
                    relation.messages[relation.messages.length - 1].emitter.username === userConnected?.username ?
                        "Vous : " + relation.messages[relation.messages.length - 1].message :
                        relation.messages[relation.messages.length - 1].message
                    }}

                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-white">

            </mat-card-content>
        </mat-card>


    </div>
</aside>

<!--        <div class="col-md-6">-->
<!--            <input matInput class="border-2 border-amber-300" type="text" [(ngModel)]="messageToSend">-->
<!--            <button mat-button color="primary" (click)="sendMessage(messageToSend, relation.id)">Send</button>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--                <p *ngFor="let msg of relation.messages">-->
<!--                    {{msg.emitter.username}} : {{msg.message}}-->
<!--                </p>-->
<!--                <p *ngFor="let txt of text">-->
<!--                    {{txt.emitter.username}} : {{txt.message}}-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
