

<div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="flex">
        <div class="w-2/3">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-accent">{{postHelp.title}}</h5>

            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{postHelp.description}}</p>

            <ul class="w-1/2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">

                <li *ngIf="postHelp.technologyFrontEnd"
                    class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:text-accent">
                    Technology front end:
                    <span class="dark:italic dark:text-gray-300">{{ postHelp.technologyFrontEnd }}</span>
                </li>

                <li *ngIf="postHelp.technologyBackEnd" class="w-full px-4 py-2 border-b border-gray-200 dark:border-gray-600 dark:text-accent">
                    Technology back end:
                    <span class="dark:italic dark:text-gray-300">{{ postHelp.technologyBackEnd }}</span>
                </li>

                <li class="w-full px-4 py-2 border-b border-gray-200 dark:border-gray-600 dark:text-accent">
                    GitHub link:
                    <a [href]="postHelp.gitHub" class="dark:italic dark:text-gray-300 hover:underline">{{ postHelp.gitHub }}</a>
                </li>


            </ul>

            <p class="mt-3 font-normal  text-gray-700 dark:text-gray-400 hover:underline cursor-pointer" (click)="showCommentaire()">Afficher les commentaires<span
                class="dark:italic">({{ postHelp.comments.length }})</span></p>
        </div>


        <div class="flex flex-col items-end justify-between w-1/3" *ngIf="vote$ | async as voteInfo">

            <a
                (click)="vote(postHelp.id, 'UPVOTE')"
                [ngClass]="{active: voteInfo.voteType == 'UPVOTE'}"
                class="cursor-pointer inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-accent dark:hover:bg-yellow-300 dark:focus:ring-blue-800">
                <svg class="w-6 h-6 text-gray-800 dark:text-primary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 10 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M5 13V1m0 0L1 5m4-4 4 4"/>
                </svg>
            </a>

            <div class="align-bottom">
                <p class="text-white align-bottom">
                    Score: {{ voteInfo.score }}
                </p>
            </div>

            <a
                (click)="vote(postHelp.id, 'DOWNVOTE')"
                [ngClass]="{active: voteInfo.voteType == 'DOWNVOTE'}"
                class="cursor-pointer inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-accent dark:hover:bg-yellow-300 dark:focus:ring-blue-800">
                <svg class="w-6 h-6 text-gray-800 dark:text-primary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 10 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M5 1v12m0 0 4-4m-4 4L1 9"/>
                </svg>
            </a>


        </div>


    </div>

    <div *ngIf="isShowCommentary">
        <div *ngFor=" let comment of postHelp.comments">
            <app-comment [comment]="comment"></app-comment>
        </div>
    </div>
</div>



<form [formGroup]="commentForm" (ngSubmit)="addComment()">
    <div class="w-full mt-1 mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
        <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
            <label for="message" class="sr-only"></label>
            <textarea id="message" formControlName="message" rows="1" class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Votre commentaire" required></textarea>
        </div>
        <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600">
            <button type="submit" class="focus:outline-none text-white bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900">
                Laisser un commentaire
            </button>
            <div class="flex pl-0 space-x-1 sm:pl-2">

            </div>
        </div>
    </div>
</form>



