<div>
    <a *ngIf="connectedUser && connectedUser.role && connectedUser.role === 'RECRUITER'" routerLink="/job-offers/create">

        <button>Créer une offre d'emploi</button>
    </a>
    <div *ngIf="jobOffersList$ | async">
        <table>
            <thead>
            <tr>
                <td>Intitulé</td>
                <td>Technologies</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobOffer of jobOffers">
                <td>{{jobOffer.title}}</td>
                <td>{{jobOffer.technologyFrontEnds}}, {{jobOffer.technologyBackEnds}}</td>
                <td>
                    <div class="inline">
                        <a routerLink="/job-offers/{{jobOffer.id}}">
                            <button>🔍</button>
                        </a>
                        <div *ngIf="jobOffer.recruiter.email == connectedUser?.email">
                            <button (click)="delete(jobOffer.id)">❌</button>
                            <a routerLink="/job-offers/edit/{{jobOffer.id}}">
                                <button>📝</button>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
