<div>
    <a *ngIf="connectedUser && connectedUser.role && connectedUser.role === 'RECRUITER'" routerLink="/job-offers/create">
        <button class="text-white mt-4 mb-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-1/6 sm:w-1/6 px-5 py-2.5 text-center dark:bg-orange-700 dark:hover:bg-orange-800 dark:focus:ring-blue-800">
            Créer une offre d'emploi</button>
    </a>
    <div *ngIf="jobOffersList$ | async" class="relative overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Intitulé
                </th>
                <th scope="col" class="px-6 py-3">
                    Technologies
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobOffer of jobOffers" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{jobOffer.title}}
                </th>
                <td class="px-6 py-4">
                    {{jobOffer.technologyFrontEnds}}, {{jobOffer.technologyBackEnds}}
                </td>
                <td class="px-6 py-4">
                    <div class="inline">
                        <a routerLink="/job-offers/{{jobOffer.id}}">
                            <button>🔍</button>
                        </a>
                        <div *ngIf="jobOffer.recruiter.email == connectedUser?.email">
                            <a routerLink="/job-offers/edit/{{jobOffer.id}}">
                                <button>📝</button>
                            </a>
                            <button (click)="delete(jobOffer.id)">❌</button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
